# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
sqlalchemy
pydantic-settings
alembic
pyyaml
boto3
beautifulsoup4
python-dotenv
apache-airflow-providers-postgres

